extends layout

block content
    h1 Guide

    p This guide gives a step-by-step overview of how the Copyright Game works.

    div.box.small-box
        div.text Go to the game page
    div.arrow
        div.tail
        div.pointer
    div.box.small-box
        div.text Click find game
    div.arrow
        div.tail
        div.pointer
    div.box.small-box
        div.text Choose your knob
    div.arrow
        div.tail
        div.pointer
    div.box.small-box
        div.text Start <br> the <br> game

    h2 Categories

    p There are six categories. Each color matches the category in game:

    div.box.small-box.orange-bg
        div.text Technology
    div.box.small-box.cyan-bg
        div.text Film
    div.box.small-box.purple-bg
        div.text Miscellaneous
    div.box.small-box.green-bg
        div.text Art
    div.box.small-box.pink-bg
        div.text Music
    div.box.small-box.blue-bg
        div.text Literature


    h2 Gameplay

    img.left(src="images/guide1.png")

    div.bullet
        span.text The player who joined the game first, gets to play first. Turns are passed in the clockwise direction.

    div.bullet
        span.text During each turn the player has to:
        ul
            li roll the dice
            li choose the most preferable topic
            li click on selected answer

    div.bullet
        span.text An answer must be provided in 30 seconds, otherwise the answer is counted as incorrect. Each question has only one correct answer.

    div.bullet
        span.text If the answer is correct, the player is awarded a piece of the same category the question belongs to.

    div.bullet
        span.text To win, the player has to own each of the six pieces.

    div.bullet
        span.text The game lasts until there are at least two players.
