doctype html
html
    head
        meta(charset='utf-8')
        title= 'Copyright Game' + (title != '' ? ' - ' : '') + title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block scripts
    body
        div(id='header')
            div(id='logo')
                a(href="/")
                    span Copyright Game
            div(id='menu')
                a(href='/play')
                    span(class= page === "play" ? "active" : undefined) PLAY
                a(href='/guide')
                    span(class= page === "guide" ? "active" : undefined) GUIDE
                a(href='/statistics')
                    span(class= page === "statistics" ? "active" : undefined) STATISTICS
        div(id='container')
            block content

