extends layout
block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
block content
    script(src='/javascripts/game.js')