extends layout
block scripts
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/javascripts/statistics.js")
block content
    div.box.big-box
        div.content
            div.number#gamesPlayed
            div.text games played
    div.box.big-box
        div.content
            div.number#questionsAnswered
            div.text questions answered
    div.box.big-box
        div.content
            div.number#correctPercent
            div.text correct answers
    div#chart1.chart
    div#chart2.chart
    div#chart3.chart
    div#chart4.chart
    script.
        createChart(#{data})