@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #007aff;*/
    background: #5588ff;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    overflow-y: scroll;
}

p {
    margin-bottom: 15px;
}

li {
    list-style-position: inside;
}

#header {
    width: 100%;
    height: 50px;
    background: rgba(80,80,80,0.27);
    padding: 0 30px;
    margin-bottom: 50px;
}

#header a {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

#logo {
    width: 200px;
    height: 100%;
    float: left;
}

#logo span {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

#menu {
    width: 500px;
    height: 100%;
    float: right;
    text-align: right;
}

#menu a span {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    text-transform: lowercase;
}

#menu a span.active, #menu a:hover span {
    background-color: rgba(0, 0, 0, 0.2)
}


#container {
    width: 1200px;
    margin: 0 auto 80px auto;
}

h1 {
    color: #fafafa;
    margin-bottom: 15px;
}

h2 {
    color: #fafafa;
    margin-bottom: 15px;
    margin-top: 30px;
}

.bullet {
    margin-bottom: 15px;
    color: #fafafa;
}

.bullet:hover {
    cursor: pointer;
}

.bullet a {
    color: #fafafa;
    outline: 0;
}

.bullet span {
    vertical-align: middle;
}

.bullet .circle {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bullet .text {
    display: inline-block;
    width: 500px;
}

.box.pink-bg { background-color: #ec0066; border-color:#a50047; }
.box.green-bg { background-color: #aad400; border-color: #769400; }
.box.orange-bg { background-color: #ff7f2a; border-color: #b2581d; }
.box.purple-bg { background-color: #800099; border-color: #59006b; }
.box.blue-bg { background-color: #0055d4; border-color: #003b94; }
.box.cyan-bg { background-color: #00aa88; border-color: #00765f; }

.box {
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.big-box {
    width: 300px;
    height: 300px;
    margin: 25px 50px;
}

.small-box {
    width: 190px;
    height: 190px;
    margin: 15px 5px;
}

    .small-box .text {
        width: 100px;
        margin: 40px auto;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }

    .small-box.orange-bg .text,
    .small-box.green-bg .text,
    .small-box.pink-bg .text,
    .small-box.purple-bg .text,
    .small-box.blue-bg .text,
    .small-box.cyan-bg .text {
        width: 100%;
        margin: 70px auto;
    }

.arrow {
    width: 133px;
    height: 200px;
    display: inline-block;
    position: relative;
}

    .arrow .tail {
        position: absolute;
        top: 100px;
        width: 103px;
        height: 30px;
        background: rgba(80,80,80,0.5);
    }

    .arrow .pointer {
        position: absolute;
        top: 85px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid rgba(80,80,80,0.5);

    }

.box, .chart {
    border-top: 15px solid rgba(80, 80, 80, 0.5);
    border-bottom: 15px solid rgba(80, 80, 80, 0.5);
    background: rgba(80, 80, 80, 0.27);
}

.chart {
    width: 1100px;
    height: 600px;
    margin: 50px auto;
}

.content {
    width: 220px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

    .content .number {
        font-size: 90px;
        width: 100%;
    }

    .content .text {
        font-size: 14px;
        text-transform: uppercase;
        width: 100px;
        margin: 0 auto;
    }

img {
    width: 50%;
}

img.left {
    float: left;
}